/* colors: #37404A background grey */

html {
    font-size: 10px;
}

body {
    display: flex;
    background-image: url(../images/background.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h1 {
    font-size: xx-large;
    display: block;
    text-align: center;
}

p {
    font-size: large;
    text-align: center;
    line-height: 3em;
}

button {
    background-color: rgb(238,155,58);
    border: none;
    color:rgb(5,17,113);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: 20px;
    padding: 10px;
    font-size: 2em;
}

button:hover {
    background-color: rgb(234,61,212);
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.info img {
    width: 80px;
    margin: 20px;
}

#gameOver img {
    width: 200px;
}
#win img {
    width: 200px;
}

.gameBg {
    height: 600px;
    width: 750px;
    background-color: #37404A;
    margin-top: 10px;   
}

#home img {
    width: 70px;
    margin: 20px;
}

#waitingOne {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    padding: 10px;
    z-index: 2;
    border: 3px solid rgb(234,61,212);
    background-color: rgb(5,17,113);
    font-size: 3em;
    text-align: center;
    align-items: center;
}

.circlesImg {
    width: 50px;
}
.crossImg {
    width: 50px;
}

#canvasOne {
    z-index: 1;
}

.left {
    text-align: right;
    font-size: x-large;
    font-weight: 700;
}

.hidden {
    display: none; 
}


/* Lives, Points, Timer */ 


.level {
    font-size: medium;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}

.heartImg {
    width: 20px;
}
.frame {
    position: absolute;
    padding: 20px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


