/* colors: #37404A background grey */

html {
    font-size: 10px;
}

body {
    display: flex;
    background-image: url(/pandemic-escape/images/background.jpeg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h1 {
    font-size: xx-large;
    display: block;
    text-align: center;
}

p {
    font-size: large;
    text-align: center;
    line-height: 3em;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.info img {
    width: 80px;
    margin: 20px;
}

.gameBg {
    height: 600px;
    width: 750px;
    background-color: #37404A;
    margin-top: 10px;   
}

#home img {
    width: 50px;
    margin: 20px;
}

.left {
    text-align: right;
    font-size: x-large;
    font-weight: 700;
}

.hidden {
    display: none; 
}


/* Lives, Points, Timer */ 


.level {
    font-size: medium;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}

.heartImg {
    width: 20px;
}
.frame {
    padding: 75px 25px 25px 25px;
}


